:root {
  /*
   * We use variables when more than one property depend on them.
   * If not used within a calc involving a non-pixel unit, these
   * could be replaced by a build-time variable.
   */
  --webview-toolbar-height: 27px;
  --sidebar-toolbar-height: 50px;
  --webview-toolbar-title-height: 18px;
  --ui-font: 12px/1.5 "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  background-color: #263340;
  font: var(--ui-font);

  overflow: hidden; /* necessary to prevent the off-screen sidebar to create an overflow */
  width: 100vw;
  height: 100vh;

  perspective: 2000px;
}

.webview-stack {
  position: absolute; /* to position webviews relatively to stack */
  width: 100vw;
  height: 100vh;
  -x-border-radius: 4px; /* WARNING: will slow down animations! (gecko) */
  overflow: hidden; /* necessary to clip the radius */
  transition: transform 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  will-change: transform;
}

.mode2 .webview-stack {
  transform: translate3d(0px, 0, -600px);
}

.webview {
  position: absolute; /* to stack webview on top of each others */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-user-select: none;
  cursor: default;
}

.webview:not(.webview-selected) {
  pointer-events: none;
  visibility: hidden;
}

.webview-iframe {
  display: block;
  -moz-user-select: none; /* necessary to pass text drag to iframe's content */
  border-width: 0;
  width: 100%;
  height: calc(100% - var(--webview-toolbar-height));
  background-color: white;
}

.webview-toolbar {
  width: 100%;
  height: var(--webview-toolbar-height);
  background: white; /* dynamic */
  text-align: center;
}

.webview-title-container {
  display: inline-block; /* for alignment */
  font-size: 0; /* necessary to avoid the annoying inline horizontal space */
  width: 250px;
  height: var(--webview-toolbar-title-height);
  margin-top: calc(var(--webview-toolbar-height) / 2 - var(--webview-toolbar-title-height) / 2);
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  transition: background 100ms ease-out;
  border-radius: 5px;
  cursor: text;
}

.webview-title-container:hover {
  background: rgba(0, 0, 0, 0.06);
}

.webview-title-container > * {
  font-size: 12px;
  line-height: var(--webview-toolbar-title-height);
}

.webview-security-icon {
  display: inline-block;
  width: 18px;
}

.webview-title {
  display: inline;
}

.webview-show-sidebar-button {
  position: absolute;
  top: 0;
  right: 0;
  height: var(--webview-toolbar-height);
  width: var(--webview-toolbar-height);
  background-image: url(assets/hamburger.png);
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.mode2 .dark-overlay {
  opacity: 0.1;
  pointer-events: all;
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 410px;
  transform: translateX(560px);
  transition: transform 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  background-color: #2E3D4D;
  -x-box-shadow: rgba(0, 0, 0, 0.5) -80px 0 100px; /* WARNING: will slow down animations! (gecko) */
}

.sidebar:after {
  width: 4px;
  height: 100%;
  background-color: rgba(0,0,0,0.11);
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.mode2 .sidebar {
  transform: translateX(0);
}

.sidebar-toolbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--sidebar-toolbar-height);
  background-color: #364759;
}

.sidebar-toolbar-left-buttons {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #3E5166;
}

.sidebar-toolbar-right-buttons {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: #3E5166;
}

.sidebar-toolbar-button {
  height: 100%;
  width: var(--sidebar-toolbar-height);
  background-size: 12.5px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color 200ms ease-out;
}

.sidebar-toolbar-button:hover {
  background-color: #3D91F2;
}

.sidebar-toolbar-pin-button {
  background-image: url(assets/pin.png);
  width: calc(var(--sidebar-toolbar-height) + 4px);
}

.sidebar-toolbar-plus-button {
  background-image: url(assets/plus.png);
}

.sidebar-tabs-scrollbox {
  width: 100%;
  height: calc(100% - var(--sidebar-toolbar-height));
  overflow-y: scroll;
}

.sidebar-tab {
  border-left: 4px solid transparent;
  color: #DDD;
  font-size: 14px;
  padding: 0 15px;
  line-height: 50px;
}

.sidebar-tab > * {
  vertical-align: middle;
}

.sidebar-tab:hover {
  background-color: #364759;
  color: #FFF;
}

.sidebar-tab-selected {
  border-color: #3D91F2;
}

.sidebar-tab-smallicon {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 3px;
}

.sidebar-tab-title {
  display: inline;
}
